@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?teru36');
  src:  url('fonts/icomoon.eot?teru36#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?teru36') format('truetype'),
    url('fonts/icomoon.woff?teru36') format('woff'),
    url('fonts/icomoon.svg?teru36#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e900";
}
.icon-new:before {
  content: "\e901";
}
.icon-checkbox3:before {
  content: "\e902";
}
.icon-checkbox4:before {
  content: "\e903";
}
.icon-checked:before {
  content: "\e904";
}
.icon-day:before {
  content: "\e905";
}
.icon-money:before {
  content: "\e906";
}
.icon-unchecked:before {
  content: "\e907";
}
.icon-biyan:before {
  content: "\e908";
}
.icon-zhengyan:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-edit1:before {
  content: "\e90b";
}
.icon-fangzi:before {
  content: "\e90c";
}
.icon-gantanhao:before {
  content: "\e90d";
}
.icon-jiansheyinhang:before {
  content: "\e90e";
}
.icon-jiaoyimima:before {
  content: "\e90f";
}
.icon-laba:before {
  content: "\e910";
}
.icon-lianxiren:before {
  content: "\e911";
}
.icon-mine:before {
  content: "\e912";
}
.icon-mine2:before {
  content: "\e913";
}
.icon-no:before {
  content: "\e914";
}
.icon-qianbao:before {
  content: "\e915";
}
.icon-shenfenzheng1:before {
  content: "\e916";
}
.icon-shenfenzheng2:before {
  content: "\e917";
}
.icon-shoujirenzheng:before {
  content: "\e918";
}
.icon-tuijian:before {
  content: "\e919";
}
.icon-wenhao:before {
  content: "\e91a";
}
.icon-yes:before {
  content: "\e91b";
}
.icon-yinhangka1:before {
  content: "\e91c";
}
.icon-yinhangka2:before {
  content: "\e91d";
}
.icon-youhuiquan:before {
  content: "\e91e";
}
.icon-zhangdan:before {
  content: "\e91f";
}
.icon-zhimaxinyong:before {
  content: "\e920";
}
.icon-mine3:before {
  content: "\e921";
}
.icon-shouye:before {
  content: "\e922";
}
.icon-zhangdan2:before {
  content: "\e923";
}
.icon-checkbox:before {
  content: "\e924";
}
.icon-checkbox2:before {
  content: "\e925";
}
